
      
      <div class="page-header">
        <h1 style="text-align: center;">UpData <br><small class="hidden-sm-down">System do zarządzania stanem magazynu</small></h1>
      </div>
      

      <div class="row">
          
        <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <h3 style="text-align: center;">Dodaj/Usuń towar</h3>
              <p>
                Portal dla magazynierów.
              </p>
              
              <% if user_signed_in? %>
                <p style="text-align: right;"><%= link_to 'Dalej', home_maccount_path, class: 'btn btn-info' %></p>
              <% else %>
                <p style="text-align: right;"><%= link_to 'Dalej', new_user_session_path, class: 'btn btn-info' %></p>
              <% end %>
              
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <h3 style="text-align: center;">Zaplanuj rozłożenie towaru</h3>
              <p>
                Portal dla planistów.
              </p>
              <% if user_signed_in? %>
                <p style="text-align: right;"><%= link_to 'Dalej', home_paccount_path, class: 'btn btn-info' %></p>
              <% else %>
                <p style="text-align: right;"><%= link_to 'Dalej', new_user_session_path, class: 'btn btn-info' %></p>
              <% end %>
            </div>
          </div>
        </div>
    
    </div>