<%= render 'home/header' %>
<h1>Witaj planisto!</h1>
<p>Tu możesz dodać/usunąć uwagi dla magazynierów!</p>
<h2>Dodaj uwagę:</h2>
<p><%= link_to 'New pin ->', new_pin_path, class: 'btn btn-info' %></p>